.wrapper {
	margin: 60px auto;
	width: 1024px;
	height :auto;	
	background: green;
	border: dotted;
}

.headers {
	height: 30px;
	width: 1024px;
	background: gray;
	border: double;
}

.header-tab {
	width: 1024px;
	height: 30px;
	list-style: none;
	margin-top: 4px;
}

.header-link{
 display:inline;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

.hz-divider {
	height: 20px;
	width: 1024px;
	background-image: url("../img/divider_line.gif");
	background: white;
	
 }
 
 .content-panel {
   width: 1024px;
   height: 500px;
 }
 
 .left-panle-wrapper {
  width: :200px;
  height: auto;
  float: left;
  border: solid;
  color: yellow;
  overflow: auto;
 }
 
.left-panel {
	width: 190px;	
	height:400px;
	color: blue;
	margin-top: -3px;
}

.vtl-divider-1 {	
	width: 10px;
	height:400px;
	margin-left:180px;
	margin-top: -400px;	
}


.rt-content-wrapper {
	width: 190px;
	height: auto;
	border: solid;
	color: red;
	margin-left: 830px;
	margin-top: -400px;	
	overflow: auto;
}

.vtl-divider-2 {	
	width:10px;	
	height:400px;
}

.rt-content {
	width:189px;
	height :400px;
	margin-top: -400px;
	color: blue;
	
}

.center-content {
	padding-left: 10px;
	width: 610px;
	height: 400px;
	overflow: auto;
}

.footer {
	height:20px;
	width: 1024px;
	background-color: red; 
}

.home, .contact,.sign-in, .join-us {
	color: red;
	position: fixed;
}

.home {
	margin-top: -10px;
	margin-left: 25px;
}

.contact {
	margin-left: 90px;
	margin-top: -10px;
}
.sign-in{
	margin-left: 800px;
	margin-top: -10px;	
}
.or{
	color:lime;
	margin-left: 860px;
	margin-top: -10px;
}

.join-us {
	margin-left: 895px;
	margin-top: -50px;	
}

.footer>p{
	color: blue;
	text-align: center;
}

	
