.wrapper {
	margin: 60px auto;
	width: 1024px;
	height :auto;	
	background: green;
	border: dotted;
}

.headers {
	height: 30px;
	width: 1024px;
	background: red;
}

.hz-divider {
	height: 20px;
	width: 1024px;
	background: yellow;
	background-image: url("../img/divider_line.gif");
 }
 
 .content-panel {
   width: 1024px;
   height: 500px;
 }
 
 .left-panle-wrapper {
  width: :200px;
  height: auto;
  float: left;
  border: solid;
  color: yellow;
  overflow: auto;
 }
 
.left-panel {
	width: 190px;	
	height:400px;
	color: blue;
	margin-top: -3px;
}

.vtl-divider-1 {	
	width: 10px;
	height:400px;
	margin-left:180px;
	margin-top: -400px;	
}


.rt-content-wrapper {
	width: 190px;
	height: auto;
	border: solid;
	color: red;
	margin-left: 830px;
	margin-top: -400px;	
	overflow: auto;
}

.vtl-divider-2 {	
	width:10px;	
	height:400px;
}

.rt-content {
	width:189px;
	height :400px;
	margin-top: -400px;
	color: blue;
	
}

.center-content {
	padding-left: 10px;
	width: 610px;
	height: 400px;
	overflow: auto;
}

.footer {
	height:20px;
	width: 1024px;
	background-color: red; 
}
	
